/*setear nuestros archivos*/
body{
  box-sizing: border-box;
  color: #303030;/* */
  font-family: 'Relaway', sans-serif;
  margin: 0;
  padding: 0;
}
/* clases reitilizables*/
.text-uppercase{
  text-transform: uppercase;

}



.box-header{
  display: inline-block;
}

.logo-header{
  width: 200px;
}

li{
  display: inline;
  list-style: none;
}

li a{
  color: inherit;
  text-decoration: none;
}
header{
  position: relative;
}
nav{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

section{
  text-align: center;
}

div{
  display: inline-block;
  width: 30%;
}
